*,
*::before,
*::after,
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.credentials-container {
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
	/* overflow-x: hidden; */
	background: #f7f8f0;
}

.credentials-container button {
	cursor: pointer;
	background: none;
	border: none;
	outline: none;
	color: #262626;
}

.credentials-container .sidebar.left form {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100%;
	max-height: 100%;
	box-shadow: 2px 0 6px rgba(38, 38, 38, 0.1);
}

.credentials-container .sidebar.left form button {
	font-size: 28px;
	letter-spacing: 2px;
	font-weight: bold;
	text-transform: lowercase;
	padding: 8px 16px;
	box-shadow:
		2px 0 6px rgba(38, 38, 38, 0.1),
		0 2px 6px rgba(38, 38, 38, 0.1); /* bottom shadow */
}

.credentials-container .sidebar.left form button:hover {
	text-decoration: underline;
}

.credentials-container .sidebar.left form button.credentials-tab-btn:hover {
	text-decoration: none;
}

.credentials-container .sidebar.left form button.credentials-tab-btn {
	background: #262626;
	color: #f7f8f0;
}

.credentials-container .main-content.right {
	display: flex;
	flex-direction: column;
	gap: 24px;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;
}

.credentials-container .main-content.right h1 {
	font-size: 48px;
	user-select: none; /* Standard */
	-webkit-user-select: none; /* Chrome, Safari, Edge */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none;
}

.credentials-container .main-content.right h1 span {
	font-size: 0.6em;
	color: rgba(38, 38, 38, 0.6);
	vertical-align: middle;
}

.credentials-container .main-content.right form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 20px;
	color: #262626;
	gap: 5px;

	user-select: none; /* Standard */
	-webkit-user-select: none; /* Chrome, Safari, Edge */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none;

	box-shadow:
		rgba(38, 38, 38, 0.16) 0px 3px 6px,
		rgba(38, 38, 38, 0.23) 0px 3px 6px;
}

.credentials-container
	.main-content.right
	form
	div:has(input[name='gh-token-classic-input']) {
	position: relative;
}

.credentials-container .main-content.right form div span.creds-input-preview {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	line-height: 1;
	width: 38ch; /* default width */
	min-width: 38ch; /* minimum width ~ 42 characters */
	letter-spacing: 3px;
	font-size: 20px;
	padding: 8px 16px;
	pointer-events: none;
	overflow-x: hidden;
}

.credentials-container .main-content.right form input,
.credentials-container .main-content.right form button {
	padding: 8px 16px;
}

.credentials-container .main-content.right form input {
	font-size: 18px;
	width: 48ch; /* default width */
	min-width: 48ch; /* minimum width ~ 42 characters */
	max-width: 48ch;
	color: #262626;
	border-radius: 5px;
	outline: 1px solid rgba(38, 38, 38, 0.2);
	border: none;
	background: #f7f8f0;
}

.credentials-container
	.main-content.right
	form
	input[data-transparent-text='true'] {
	color: transparent;
}

.credentials-container
	.main-content.right
	form
	div
	input[data-transparent-text='false']
	+ span.creds-input-preview {
	display: none;
	color: transparent;
}

.credentials-container
	.main-content.right
	form
	input[data-transparent-text='true']::selection {
	color: #3a9aff;
}

.credentials-container .main-content.right form input::selection {
	background: #3a9aff;
}

.credentials-container .main-content.right form input:focus {
	outline: 3px solid rgba(38, 38, 38, 0.5);
}

.credentials-container
	.main-content.right
	form
	input[data-transparent-text='true']:focus {
	color: transparent;
}

.credentials-container .main-content.right form input::placeholder {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.credentials-container .main-content.right form div.btn-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
	justify-content: center;
}

.credentials-container .main-content.right form button {
	font-weight: bold;
	color: #f7f8f0;
	background: #262626;
	border-radius: 5px;
}

.credentials-container .main-content.right form button.update-token-btn {
	font-size: 20px;
	transition: all 0.2s ease;
	box-shadow:
		rgba(38, 38, 38, 0.16) 0px 3px 6px,
		rgba(38, 38, 38, 0.23) 0px 3px 6px;
}

.credentials-container
	.main-content.right
	form
	button.update-token-btn:not(:disabled):active {
	transform: scale(0.9);
}

.credentials-container
	.main-content.right
	form
	button.update-token-btn:disabled {
	cursor: default;
	color: rgba(38, 38, 38, 0.6);
	background: #f7f8f0;
}

.credentials-container .main-content.right form button:has(img) {
	position: relative;
	padding: 0;
	color: #262626;
	background: #f7f8f0;
	width: 32px;
	height: 32px;
	z-index: 20;
}

.credentials-container .main-content.right form button:has(img) img {
	position: absolute;
	width: 32px;
	height: 32px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.credentials-container
	.main-content.right
	form
	button[data-show-creds='false']:has(img)
	img.show-password-icon {
	display: none;
}

.credentials-container
	.main-content.right
	form
	button[data-show-creds='true']:has(img)
	img.hide-password-icon {
	display: none;
}

.credentials-container .main-content.right label {
	font-size: 20px;
	font-weight: bold;
	padding: 8px 16px;
	border-radius: 5px;
	color: #262626;
	background: #f7f8f0;
	user-select: none;
	cursor: pointer;
	text-align: center;
	vertical-align: center;
	box-shadow:
		2px 0 6px rgba(38, 38, 38, 0.1),
		0 2px 6px rgba(38, 38, 38, 0.1); /* bottom shadow */
	transition: all 0.2s ease;
}

.credentials-container .main-content.right label:active {
	transform: scale(0.9);
}

.credentials-container .main-content.right span.token-status {
	display: none;
	font-size: 24px;
	padding: 8px 16px;
	font-weight: bold;
	user-select: none;
	box-shadow:
		2px 0 6px rgba(38, 38, 38, 0.1),
		0 2px 6px rgba(38, 38, 38, 0.1); /* bottom shadow */
}

.credentials-container .main-content.right span.token-status.bad {
	display: block;
	color: #f55353;
}

.credentials-container .main-content.right span.token-status.good {
	display: block;
	color: #2ecc71;
}

.credentials-container .main-content.right span.token-status.unknown {
	display: block;
	color: #ffd400;
}
